

<div class="wrapper">

  <div class="header">
    <div class="container">
      <div class="logo">LOGO</div>
      <div class="search">SEARCH</div>
      <div class="user">USER</div>
    </div>
  </div>

  <div class="left-sidebar">
    <div class="container">
      <div class="home">Home</div>
      <div class="public">Public</div>
      <div class="teams">Teams</div>
    </div>
  </div>

  <div class="main">
    <div class="container">

      <div class="question">Question Text</div>

      <div class="answers">
        Answers
      </div>

      <div class="your-answer">
        Your Answer
      </div>

    </div>
  </div>

  <div class="right-sidebar">
    <div class="container">
      <div class="logo">Blog</div>
      <div class="logo">Related</div>
      <div class="logo">Hot</div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      Footer
    </div>
  </div>

</div>

<router-outlet></router-outlet>
