.wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 100px 1fr 200px;
  height: 100%;
  color: #000;

  .header {
    background-color: #fdf9eb;
    grid-column-start: 1;
    grid-column-end: 4;

    .container {
      display: grid;
      grid-template-columns: 100px 1fr 100px;
      height: 100%;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }

  .left-sidebar {
    background-color: #ffcdcd;
    grid-row-start: 2;
    grid-row-end: 4;

    .container {
      flex-direction: column;
      height: 100%;
      justify-content: space-around;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }

  .main {
    background-color: #e6ffe6;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;

    .container {
      flex-direction: column;
      height: 100%;
      justify-content: space-around;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }

  .right-sidebar {
    background-color: #c3eeff;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;

    .container {
      flex-direction: column;
      height: 100%;
      justify-content: space-around;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    background-color: #ffebef;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .container  {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }

}
